/*************
    页面样式
    px 相当于一个像素
    em:相对长度段位，
        参考物是父元素的font-size，
        em具有继承的特点，
        当没有设置font-sizes时，浏览器会有一个默认的em=16px
    缺点：容易乱
    rem:参照物是根元素html，其余和em类似
**/
html{
    font-size: 62.5%;
    color: #222;
}